{% extends "package_comment_manage_base.html" %}
{% block module_title %}文本分析{% endblock %}

{% block head_css %}
    <link type="text/css" rel="stylesheet" href="/static/css/css/timeline.css">
    <link type="text/css" rel="stylesheet" href="/static/css/css/table.css">
    <link rel="stylesheet" href="/static/css/css/tab.css" type="text/css" media="all">

    <style>
        .blkUnit {
            position: relative;
            clear: both;
            margin-top: 25px;
            background-color: #fff;
        }
        .blkUnit .titlBar {
            z-index: 4;
            position: relative;
            height: 16px;
            padding: 20px;
            background-color: #f6f6f6;
        }
        .titlBar h4 {
            display: inline-block;
            margin-top: -5px;
            padding-right: 0px;
            font-size: 15px;
            color: #666;
        }
        .titlBar .compInfo {
            padding-right: 15px;
            color: #858585;
        }

        table {
            *border-collapse: collapse; /* IE7 and lower */
            border-spacing: 0;
            width: 100%;
        }

        .bordered {
            border: solid #ccc 1px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 0 1px 1px #ccc;
            -moz-box-shadow: 0 1px 1px #ccc;
            box-shadow: 0 1px 1px #ccc;
        }

        a:hover {
            color:#428bca;
        }

        .bordered   tr:hover {
            background: #fbf8e9;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        .bordered td, .bordered th {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        .bordered th {
            background-color: #dce9f9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
            background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            border-top: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

        .bordered td:first-child, .bordered th:first-child {
            border-left: none;
        }

        .bordered th:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
        }

        .bordered th:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .bordered th:only-child{
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

        .bordered tr:last-child td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .bordered tr:last-child td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }

    </style>

    </style>
{% endblock head_css %}

{% block head_js %}
    <script src="/static/bootstrap/js/modal.js" type="text/javascript"></script>
{% endblock head_js %}

{% block content %}
    <div class="blkUnit grpUnit" id="trendProfile">
        <div class="titlBar" style="padding-bottom:25px;">
            <h4>上传任务</h4>
        </div>

        <div class="tabUnit" style='margin-bottom:15px;'>
            <div class="tabTitle" style="padding-top:1px;background-color:#f6f6f6;" id="auto_gsid_3">
            </div>
            <div class="tabConts" style='padding-bottom:5px;'>
                <form action="" method=post enctype=multipart/form-data style="margin: 10px;">
                   <span>
                        <input type=file name=file style='float:left;'>
                        <input type=submit value='上传并计算'>
                   </span>
                </form>
            </div>
            <p style="color:grey">*上传文件中，每一行是一条文本，每条文本必须包括"id","content168","news_id"三个字段，其他字段可任意添加。
            </p>
        </div>
    </div>

    <div class="blkUnit grpUnit" id="trendProfile">
        <div class="titlBar" style="padding-bottom:25px;">
            <h4>任务列表</h4>
        </div>

        <div class="tabUnit" style='margin-bottom:15px;'>
            <div class="tabTitle" style="padding-top:1px;background-color:#f6f6f6;" id="auto_gsid_3">
            </div>
            <div class="tabConts" style='padding-bottom:5px;'>
                <div style='margin-top:25px;'>
                    <div id='event_river'></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="suggestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p id="suggest-modal-body-content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body">
                    <p id="modal-body-content"></p>
                </div>
                <div class="modal-footer" id="modal-footer">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block tail_js %}
    <script type="text/javascript">
        function draw_table(){
            var html = '';
            html += '<table class="bordered" style="margin-top:5px;">';
            html += '<thead><tr><th>任务ID</th>';
            // html += '<th>子事件计算</th>'
            html += '<th>查看结果</th><th>下载结果</th><th>下载日志</th></tr></thead>';
            {% for m in get_flashed_messages()[1:] %}
            // var jisuan_link = "<a href=\"/package/?taskid={{m}}&calcu=1\" target=\"_blank\">计算</a>";
            // var jisuan_link = "<a onclick=\"check_if_calculate('{{m}}');\" style=\"cursor: pointer;\">子事件计算</a>";
            var chakan_link = "<a href=\"/package/?taskid={{m}}&calcu=0\" target=\"_blank\">查看结果</a>";
            var download_link = "<a href=\"/package/download/?taskid={{m}}\" target=\"_blank\">下载结果</a>";
            var download_log_link = "<a href=\"/package/downloadlog/?taskid={{m}}\" target=\"_blank\">下载日志</a>";
            html += "<tr>";
            html += "<td>{{ m }}</td>";
            // html += "<td>" + jisuan_link + "</td>";
            html += "<td>" + chakan_link + "</td>";
            html += "<td>" + download_link + "</td>";
            html += "<td>" + download_log_link + "</td>";
            html += "</tr>";
            {% endfor %}
            $('#event_river').append(html);
        }

        var global_task_id = undefined;
        function check_if_calculate(taskid){
            global_task_id = taskid;
            $.ajax({
                url: "/package/checkcal/?taskid=" + taskid,
                type: "GET",
                dataType: "json",
                async: false,
                success: callback
            });
        }

        var modal_options = {
            'backdrop': false
        };

        {% if get_flashed_messages()%}
            var suggestion = "{{ get_flashed_messages()[0] }}";
            if(suggestion != ''){
                $("#suggest-modal-body-content").html(suggestion);
                $('#suggestModal').modal(modal_options);
            }
        {% endif %}

        function redirect2cal(){
            $("#modal-body-content").html("指令已发出！");
            $("#modal-footer").html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">确定</button>");
            window.open("/package/?taskid=" + global_task_id + "&calcu=1");
        }

        function redirect2anl(){
            $("#modal-body-content").html("指令已发出！");
            $("#modal-footer").html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">确定</button>");
            window.open("/package/?taskid=" + global_task_id + "&calcu=0");
        }

        function callback(data){
            $('#modalTitle').html("任务ID：" + global_task_id);
            if(data == true){
                $("#modal-body-content").html("该任务已有计算结果！请选择重新计算或查看已有结果。");
                var modal_footer_content = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"redirect2cal();\">重新计算</button>";
                modal_footer_content += "<button type=\"button\" class=\"btn btn-primary\" onclick=\"redirect2anl();\">查看结果</button>";
                $("#modal-footer").html(modal_footer_content);
            }
            else{
                $("#modal-body-content").html("请确认计算！该计算可能持续几分钟，请耐心等待。");
                var modal_footer_content = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"redirect2cal();\">确定</button>";
                $("#modal-footer").html(modal_footer_content);
            }

            $('#checkModal').modal(modal_options);
        }

        $(document).ready(function(){
            draw_table();
        })
    </script>
{% endblock tail_js %}
